body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1
.h2
.h3
.h4
.h5
.h6{
    font-family: 'Lato',"Helvetica Neue",Arial, Helvetica, sans-serif
 
}

.form-control:focus{
    border-color: #2196f3;
    box-shadow:none;
    -webkit-box-shadow:none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #ffffff;
    border-color: rgba(205,40,39,0.55);
}

1.dropdown-menu{

    box-shadow:none;
    -webkit-box-shadow:none;
}

.navbar-brand-gighub{
    color: #fff;
    font-weight: 700;
}

span.field-validation-error{
    color:red;
    font-weight:bold;
}

/*#bands{
    list-style: none;
}


#bands > table{
    position: relative;
    margin-bottom:30px;
}

#bands > table .details{
    position:absolute;
    top:0;
    left:70px;
}*/

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

    .table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/*.date

.user

.band*/