@model IEnumerable<NewBIGprojectASOUME.Models.Band>
@{
    ViewBag.Title = "Home Page";
   
}


@*<ol>
    
    <li> Provide Date Time, i.e: 'exmpl'</li>
    <li>
        @Html.TextBox((ViewBag.DateTimeProvided).ToString(), new { @class = "form-control" })

    </li>
</ol>*@
<ul>
    @foreach (var band in Model)
    {


        <li> <em>Band</em> </li>
        <li> Created At: - Band</li>
        <li> @band.DateCreated.ToString("dd-MM-yyyy-tt") 
    - @band.Name  
   
        @*@band.Artists.Where(ab=> ab.Id== band.Id).Select( g=> new {g.FullName})*@</li>

      
    }

</ul>